[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-stats = {editable = true, path = "."}
# v1.0.0 dropped support for python<3.6.1
# https://github.com/pandas-dev/pandas/commit/18efcb27361478daa3118079ecb166c733691ecb#diff-2eeaed663bd0d25b7e608891384b7298R814
pandas = "<1"

[dev-packages]
isort = "*"
# >=2.3.0 due to false+ assignment-from-no-return
# https://github.com/PyCQA/pylint/issues/2694
pylint = ">=2.3.0,<3"
pytest = "<5"
# >=2 for --cov-fail-under
pytest-cov = "<3,>=2"
pytest-timeout = "<2"
yapf = "*"
# v2.0.0 dropped python<3.6 support
# https://github.com/jaraco/zipp/commit/05a3c52b4d41690e0471a2e283cffb500dc0329a
zipp = "<2"

[requires]
python_version = "3"
