[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
freesurfer-stats = {editable = true, path = "."}

# python3.7 compatibility
numpy = "<1.22"
pandas = "<1.4"

[dev-packages]
black = "*"
mypy = "*"
pylint = "*"
pylint-import-requirements = "*"
pytest = "*"
pytest-cov = "*"

[requires]
python_version = "3"

# Pipfile syntax: https://github.com/pypa/pipfile#pipfile
